<div class="container">
    <div class="row" ng-repeat="u in forumCommentCtrl.forumRequest.user |orderBy : 'userId'">
        <div class="col s6 m4">
            <a href="#!user"><img class="circle" src="assets/img/male.png" width="170px" height="170px"></a>
        </div>
        <div class="col s6 m8">
            <P><span class="blue-text text-darken-3">{{u.username}}</span><button class="waves-effect waves-light blue-grey darken-1 orange-text text-accent-2 pull-right hoverable" ng-click=""><i class="material-icons">accessibility</i>Add Friend</button>
            </P>
            <P><span class="blue-text text-darken-3">{{u.firstName}} {{u.lastName}}</span></P>
            <P><span class="blue-text text-darken-3">{{u.role}}</span></P>
            <hr>
        </div>
    </div>
</div>