<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collaboration</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/bootstrap-theme.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Freckle+Face" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link href="./assets/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="./assets/css/app.css" rel="stylesheet" />

    <style>.f-icon {
    color:  orange accent-2;
}

.r-icon{
    padding-top: 6px;
}

.u-img{
    padding-top: 38px;
    padding-left: 40px;
    margin-bottom: 35px;
}

.u-image{
    margin-top: 16px;
}

.u-btn{
    margin-bottom: 17px;
}

.u-info{
    margin-left: 50px;
}

.r-btn{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.f-icon{
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.left-padding{
     min-height: 600px; 
}

.image{
    width: 100%;
    height: 200px;
}

.left-padding, footer {
    padding-left: 220px;
}

.blog-title a:hover {
	text-decoration: none;
	text-transform: uppercase;
}

/*
Min-Width: Refers to everything greater than or equal to the amount given. 
Max-Width: Refers to everything less than or equal to the amount given.
*/
@media only screen and (max-width : 992px) {
    .left-padding, footer {
        padding-left: 0;
    }
}

.side-nav{
	margin-top: 64px;
}

</style>


<script type="text/javascript" src="assets/libs/jquery/jquery.js"></script>
<script type="text/javascript" src="assets/libs/materialize/materialize.min.js"></script>
<script type="text/javascript" src="assets/libs/bootstrap/bootstrap.js"></script>

<script type="text/javascript" src="assets/libs/angular/angular.js"></script>
<script type="text/javascript" src="assets/libs/angular/angular-route.js"></script>
<script type="text/javascript" src="assets/libs/angular/angular-cookies.js"></script>
<script type="text/javascript" src="app/app.module.js"></script>
<script type="text/javascript" src="app/app.routes.js"></script>

<!-- Loading the authentication module -->
<script src="app/components/authentication/AuthenticationFactory.js"></script>
<script src="app/components/authentication/authenticationController.js"></script>

<!-- Loading the admin module -->
<script src="app/components/admin/adminFactory.js"></script>
<script src="app/components/admin/AdminController.js"></script>

<!-- Loading the user module -->
<script src="app/components/user/UserFactory.js"></script>
<script src="app/components/user/UserController.js"></script>

<!-- Loading the blog module -->
<script src="app/components/blog/BlogFactory.js"></script>
<script src="app/components/blog/BlogController.js"></script>

<!-- Loading the Blog Comment module -->
<script src="app/components/blog/BlogCommentFactory.js"></script>
<script src="app/components/blog/BlogCommentController.js"></script>

<!-- Loading the forum module -->
<script src="app/components/forum/ForumFactory.js"></script>
<script src="app/components/forum/ForumController.js"></script>

<!-- Loading the Blog Comment module -->
<script src="app/components/forum/ForumCommentFactory.js"></script>
<script src="app/components/forum/ForumCommentController.js"></script>

<!-- Loading the profile upload module -->
<script src="app/components/upload/UploadFactory.js"></script>
<script src="app/components/upload/UploadController.js"></script>


<script type="text/javascript" src="app/components/user/userFactory.js"></script>
<script type="text/javascript" src="app/components/page/pageController.js"></script>
<script type="text/javascript" src="app/components/user/userController.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>


</head>

<body ng-app="myApp" class="body">
    <!-- navbar will be visible only after the authentication is successful-->
    <div ng-if="authenticated">

        <div class="navbar-fixed">
            <nav class="menubar">
                <div class="nav-wrapper teal darken-4">
                    <a href="javascript:void(0)" class="brand-logo right hide-on-med-and-down coll">coMmunEX</a>
                    <a href="javascript:void(0)" class="brand-logo hide-on-large-only coll">coMmunEX</a>
                    <a data-href="#" href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
                    <a data-href="#" href="javascript:void(0)" data-activates="slide-out" class="side-collapse left hide-on-large-only"><i class="material-icons">low_priority</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="#!/blogs">Blogs</a></li>
                        <li><a href="#!/forums">Forums</a></li>
                        <li><a href="#!/jobs">Jobs</a></li>
                        <li><a href="#!/events">Events</a></li>
                        <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
                    </ul>
                    <ul class="side-nav pull-right" id="mobile-demo">
                        <li><a href="#!/blogs">Blogs</a></li>
                        <li><a href="#!/forums">Forums</a></li>
                        <li><a href="#!/jobs">Jobs</a></li>
                        <li><a href="#!/events">Events</a></li>
                        <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- end of navbar -->



    <!-- User entire profile will be visible in the sidebar once the user authenticates -->
    <ul id="slide-out" class="side-nav fixed yellow darken-1" ng-if="authenticated">
        <li>
            <div class="userView">
                <div class="background">
                    <img ng-src="assets/img/navback4.jpg">
                </div>
                <a href="#!user"><img class="circle materialboxed" ng-src="assets/img/{{user.profileId}}"></a>
                <a href="#!name"><span class="white-text name">{{user.firstName}} {{user.lastName}}</span></a>
                <a href="#!email"><span class="white-text email">{{user.emailId}}</span></a>
            </div>
        </li>
        <li>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header yellow darken-1"><i class="material-icons">perm_identity</i>Profile</div>
                    <div class="collapsible-body yellow darken-1">
                        <ul>
                            <li><a href="#!"><i class="material-icons">send</i>View Profile</a></li>
                            <li><a href="#!/editProfile/{{user.userId}}"><i class="material-icons">send</i>Update Profile</a></li>
                            <li><a href="#!" ng-click="logout()"><i class="material-icons">send</i>Logout</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header yellow darken-1"><i class="material-icons">supervisor_account</i>Users</div>
                    <div class="collapsible-body yellow darken-1">
                        <ul>
                            <li><a href="#!/approvedUsers"><i class="material-icons">send</i>View Users</a></li>
                            <li><a href="#!/admin/pendingUsers" ng-if="user.role == 'ADMIN'"><i class="material-icons">send</i>Approve Users</a></li>
                            <li><a href="#!/admin/blockUsers" ng-if="user.role == 'ADMIN'"><i class="material-icons">send</i>Block Users</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header yellow darken-1"><i class="material-icons">subject</i>Blog</div>
                    <div class="collapsible-body yellow darken-1">
                        <ul>
                            <li><a href="#!/admin/pendingBlogs" ng-if="user.role == 'ADMIN'"><i class="material-icons">send</i>Pending Blogs</a></li>
                            <li><a href="#!" ng-if="user.role == 'ADMIN'"><i class="material-icons">send</i>Approved Blogs</a></li>
                            <li><a href="#!" ng-if="user.role == 'ADMIN'"><i class="material-icons">send</i>Rejected Blogs</a></li>
                            <li><a href="#!/user/viewBlog" ng-if="user.role == 'USER'"><i class="material-icons">send</i>View Blogs</a></li>
                            <li><a href="#!/user/myBlogs" ng-if="user.role == 'USER'"><i class="material-icons">send</i>My Blogs</a></li>
                            <li><a href="#!/user/createBlog" ng-if="user.role == 'USER'"><i class="material-icons">send</i>Create Blog</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header yellow darken-1"><i class="material-icons">forum</i>Forum</div>
                    <div class="collapsible-body yellow darken-1">
                        <ul>
                            <li><a href="#!/viewForums"><i class="material-icons">send</i>View Forums</a></li>
                            <li><a href="#!/admin/createForum" ng-if="user.role == 'ADMIN'"><i class="material-icons">send</i>Create Forum</a></li>
                            <li><a href="#!/admin/myForums" ng-if="user.role == 'ADMIN'"><i class="material-icons">send</i>My Forums</a></li>
                            <li><a href="#!/user/myForums" ng-if="user.role == 'USER'"><i class="material-icons">send</i>My Forums</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#!"><i class="material-icons">redeem</i>Events</a></li>
        <li><a href="#!"><i class="material-icons">work</i>Jobs</a></li>
        <li><a href="#!"><i class="material-icons">chat</i>Chat</a></li>
        <li><a href="#!" ng-if="authenticated" ng-click="logout()"><i class="material-icons">power_settings_new</i>Logout</a></li>
    </ul>
    <!-- end of sidebar -->

    <div id="main">
        <div ng-view></div>
    </div>

    <footer class="page-footer teal darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s6">
                    <a href="#!/about">
                        <h5 class="white-text">About Us</h5>
                    </a>
                    <p class="grey-text text-lighten-4"><i class="material-icons">beenhere</i> Quality service.</p>
                    <p class="grey-text text-lighten-4"><i class="material-icons">compare_arrows</i> Great communication.</p>
                    <p class="grey-text text-lighten-4"><i class="material-icons">computer</i> Online business.</p>
                </div>
                <div class="col l6 s6">
                    <a href="#!/contact">
                        <h5 class="white-text">Contact Us</h5>
                    </a>
                    <p class="grey-text text-lighten-4"><i class="material-icons">location_on</i> NIIT, Near Ghatkopar Stn., Ghatkopar(E), Mumbai.</p>
                    <p class="grey-text text-lighten-4"><i class="material-icons">email</i> Gauresh@niit.com</p>
                    <p class="grey-text text-lighten-4"><i class="material-icons">phone</i> +1 555 123456</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">Move to top</a>
            </div>
        </div>
    </footer>



</body>

</html>